<%- include header%>

<div class="container">
	<div class="left-side col-md-8">
		<div class="question-list border">
			<div class="page-header">
				<h4><%= groupName %><small class="pull-right">属于huster的问答平台</small></h4>
			</div>
			<ul class="question-list no-padding">
				<% topics.forEach(function(topic,index){%>
				<li class="question-list-item striped"><a href="/topic/<%= topic._id %>" class=""><%= topic.title%></a><span class="tips pull-right">0个答案&nbsp&nbsp<%=topic.time.minute%></span>
				</li>
				<% }) %>
			</ul>
		</div>
		
	</div>
	<div class="right-bar col-md-3 col-md-offset-1">
		<div class="notification border">
			<div class="header">公告</div>
			<p><%- notice[0]%></p>
		</div>
	</div>
</div>


<%- include footer%>