<%- include header%>

<div class="container">
	<div class="left-side col-md-8">
		<div class="question-list border">
			<ul class="nav nav-tabs no-bottom-padding">
			  <li role="presentation" <% if(tabs[0]){%>class="active"<%}%>><a href="./questions">近期提问</a></li>
			  <li role="presentation" <% if(tabs[1]){%>class="active"<%}%>><a href="./answers">近期回答</a></li>
			  <li role="presentation" <% if(tabs[2]){%>class="active"<%}%>><a href="./collections">我的收藏</a></li>
			</ul>
			<ul class="question-list no-padding">
				<% for(var i=0;i<topics.length;i++){%>
				<li class="question-list-item striped">
					<a href="/topic/<%= topics[i]._id%>" class="">
						<%= topics[i].title %>
						</a><span class="tips pull-right"><%= topics[i].posttime %>前</span>
				</li>
				<% } %>
			</ul>
		</div>
		
	</div>
	<div class="right-bar col-md-3 col-md-offset-1">
		<div class="notification border">
			<div class="header">个人信息</div>
			<div class="user-info">
				<img src="/images/default.jpg" alt="">
				<p class="user-name">青你个葱</p>
			</div>
		</div>
	</div>
</div>

<%- include footer%>